<% content_for :header do %>
  <%= render HeaderComponent.new page_title: @expense.name, logged_in: logged_in?, user: current_user %>
<% end %>
<main id="expenses-edit">
  <%= form_with model: @expense, url: expense_path do |form| %>
    <% if @expense.errors.any? %>
      <%= render AlertComponent.new type: 'danger', message: @expense.errors.full_messages.first %>
    <% end %>
    <div class="mb-4">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Yep, try a name that makes sense' %>
    </div>
    <div class="mb-4">
      <%= form.label :value, class: 'form-label' %>
      <%= form.text_field :value, id: 'expense-value-input', class: 'form-control', placeholder: 'Yep, a numeric value' %>
    </div>
    <div class="mb-4">
      <%= form.label :category, class: 'form-label' %>
      <%= form.select :category, category_options, { include_blank: false }, class: 'form-select' %>
    </div>
    <div class="mb-4">
      <% formatted_payment_date = payment_date_to_view @expense.payment_date %>
      <%= form.label :payment_date, class: 'form-label' %>
      <%= form.date_field :payment_date, class: 'form-control', value: formatted_payment_date, placeholder: 'The payment date' %>
    </div>
    <div>
      <%= link_to 'Back', expenses_path, class: 'btn btn-secondary text-white' %>
      <%= form.submit 'Update expense', class: 'btn btn-primary' %>
    </div>
  <% end %>
</main>
