<% content_for :header do %>
  <%= render HeaderComponent.new page_title: 'Home', logged_in: logged_in?, user: current_user %>
<% end %>
<main id="expenses-index">
  <div class="d-flex justify-content-between align-items-center gap-4 mb-4">
    <%= link_to "New Expense", new_expense_path, class: "btn btn-small btn-primary text-white" %>
    <div class="d-flex align-items-center h-100 gap-2">
      <% if @total_spent > 0 %>
        <span class="text-primary fw-bold">
          Total expenses:
          <%= number_to_currency_br @total_spent %>
        </span>
      <% end %>
      <% if @total_spent > 0 && @average > 0 %>
        <span class="text-primary fw-bold">|</span>
      <% end %>
      <% if @average > 0 %>
        <span class="text-primary fw-bold">
          Average:
          <%= number_to_currency_br @average %>
        </span>
      <% end %>
    </div>
  </div>
  <% if @expenses.present? %>
    <table class="table table-striped table-hover align-middle">
      <caption>List of your expenses</caption>
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Valor</th>
          <th scope="col" class="text-end">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <th scope="row"><%= expense.id %></th>
            <td><%= expense.name %></td>
            <td><%= number_to_currency_br expense.value %></td>
            <td class="text-end">
              <%= link_to "Edit", edit_expense_path(expense), class: "btn btn-small btn-warning text-white" %>
              <%= link_to "Delete", expense, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small btn-danger text-white" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-light fs-4 text-center">
      There are no expenses registered so far, click above to start registering
    </div>
  <% end %>
  <%= will_paginate @expenses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: ["pagination", "justify-content-start"] %>
</main>
