<% content_for :header do %>
  <%= render HeaderComponent.new page_title: 'New', logged_in: logged_in? %>
<% end %>

<%= form_with model: @expense, url: expenses_path do |form| %>
  <% if @expense.errors.any? %>
    <%= render AlertComponent.new type: 'danger', message: @expense.errors.full_messages.first %>
  <% end %>
  <div class="mb-2">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-4">
    <%= form.label :value, class: 'form-label' %>
    <%= form.text_field :value, class: 'form-control' %>
  </div>
  <div>
    <%= link_to 'Back', expenses_path, class: 'btn btn-primary text-white' %>
    <%= form.submit 'Create expense', class: 'btn btn-success' %>
  </div>
<% end %>

