<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#78c2ad" />
    <meta name="msapplication-navbutton-color" content="#78c2ad" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#78c2ad" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>My Expenses</title>
  </head>
  <body>
    <%= yield :header %>
    <div class="container py-4">
      <% if notice.present? %>
        <%= render AlertComponent.new type: 'success', message: notice %>
      <% end %>
      <% if alert.present? %>
        <%= render AlertComponent.new type: 'danger', message: alert %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
